<div class="login-container">
  <h2 class="login-title">Iniciar Sesión</h2>
  <form (ngSubmit)="login()" class="login-form">
    <label class="login-label">Usuario:</label>
    <input [(ngModel)]="username" name="username" required class="login-input" />

    <label class="login-label">Contraseña:</label>
    <input [(ngModel)]="password" name="password" type="password" required class="login-input" />

    <button type="submit" class="login-button">Entrar</button>
  </form>

  <p *ngIf="error" class="login-error">{{ error }}</p>
</div>
